@tailwind base;
@tailwind components;
@tailwind utilities;

[data-testid="right-icon"] {
  pointer-events: unset;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  border-radius: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00ccb8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00c9b5;
}
