@tailwind base;
@tailwind components;
@tailwind utilities;

[data-testid="right-icon"] {
  pointer-events: unset;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  border-radius: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #009989;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00c2ae;
}

/* For WYSIWYG editor placeholder */
.tiptap p.is-editor-empty:first-child::before {
	color: #adb5bd;
	content: attr(data-placeholder);
	float: left;
	height: 0;
	pointer-events: none;
}

.tiptap a {
	color: #1278BD;
	cursor: pointer;
	text-decoration: underline;

	&:hover {
		opacity: 0.9;
	}
}

.tiptap ul {
	list-style: disc;
	padding: 0 1.5rem;
	margin: 1.25rem 1rem 1.25rem 0.4rem;

	li p {
		margin-top: 0.25em;
		margin-bottom: 0.25em;
	}
}

.tiptap ol {
	list-style: decimal;
	padding: 0 1.5rem;
	margin: 1.25rem 1rem 1.25rem 0.4rem;

	li p {
		margin-top: 0.25em;
		margin-bottom: 0.25em;
	}
}

.tiptap h1,h2 {
	margin-top: 3.5rem;
	margin-bottom: 1.5rem;
}

.tiptap h1 { 
	font-size: 1.4rem; 
	margin-top: 3.5rem;
	margin-bottom: 1.5rem;
	line-height: 1.1;
	text-wrap: pretty;
	font-weight: bold;
}

.tiptap h2 { 
	font-size: 1.2rem; 
	margin-top: 3.5rem;
	margin-bottom: 1.5rem;
	line-height: 1.1;
	text-wrap: pretty;
}
